html {
  scroll-behavior: smooth;
  }
.header{
    
    background-color: lightseagreen; 
}
.title-style{
display: flex;
justify-content: center;
align-items: center;
height: 150px;
margin: 50px;
color: lightblue;
}

body {
    background-color:  rgb(40, 40, 40) ;

}

a:link{
    color: red;
    text-decoration: none;
}

a:visited{
    color: blue;
}

a:hover{ 
    text-decoration: underline;
}

a:active{
    color: red;

}

.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color:blueviolet;
  }
  .footer a:hover{
   
    color:blueviolet;
  }


  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .myphoto{
   
    width: 80px;
    height: 90x;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    
    border: 2px solid rgb(1, 189, 252);
    animation: fadeIn 1s ease-in-out;
  }

  p{
    padding: 25px;
    clear:left;
    display:block;
    float: center;

  }
/* */
  p.ex{
  height: 20px;
   width: 5300px;
    
  }

  .icon{
height: 75px;
width: 75px;
transition: all 300ms;
  }
  .logo{
    height: 45px;
    width: 45px;
      }
/* tech stack */
  table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 50px;
}
td {
    border: 0;
    padding: 25px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; 
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  margin: 0;
  animation: fadeIn 700ms ease-in-out;
  
  color:   rgba(1, 114, 252, 0.974); 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px; /* Increase the padding for more space */
  background-color: #333;
  color: rgb(1, 252, 244);
}

.left-item, .right-item {
  text-align: center;
  
}

.left-item {
  margin-left: 20px; /* Adjust margin for more space on the left */
}

.right-item {
  margin-right: 20px; /* Adjust margin for more space on the right */
}

.colorchange{
  font-size: 30px;
color: rgb(1, 252, 244);
}

.appphoto{
  width: 200px;
  height: 300px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(1, 252, 244);
}
.centered-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300x; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
   /* Background color, adjust as needed */
   animation: fade-up 650ms 600ms backwards;
}

/* Style the inner content of the centered box */
.centered-box p {
  height: 250px;
  width: 450px;
  padding: 20px;
  border: 2px solid rgb(1, 189, 252); /* Border color and thickness */
  border-radius: 20px; /* Adjust the value for desired corner roundness */
  text-align: center; /* Center the text inside the box */
  
}

* {
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}
