<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
  <style>
      footer {
        background-color: grey;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-inline-start: -10px;
      }
    
      .con {
        
        color: darkgoldenrod;
        margin-top: 100px;
        margin-left: 650px;
    height: 50px;
    width : 750px;

      }
     .nav {
      float: left;
        background-color: grey;
       margin-inline-start: -10px;
        padding: 10px;
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 10px;
      }

      .inner-con {
        color:black
      }
      a {
        color: white;
        text-decoration: none;
      }
     a:hover {
color: darkgoldenrod;
      }
    </style>
    
</head>


  
  <div class="nav">
    <div class="inner-con">
      <a href="/"><span class="button">Home</span></a>
      <a href="/users"><span class="button">Users</span></a>
      <a href="/contact"><span class="button">Contact Us</span></a>
    </div>
  </div>
  


<div class="con">
  <%- body %>
</div>

<footer class">
  © copyright 2021 <%= new Date() %>
</footer>




</html>